# Bytecode Python
__pycache__/
*.py[cod]
*$py.class

# Ambientes virtuais
.venv/
venv/
env/
ENV/

# Conda
.conda/
conda-meta/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Logs
*.log

# Cache de ferramentas
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Arquivos temporários
*.tmp
*.temp